//Events
#casomiera {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  width: 100%;
  color: #fafafa;
  font-size: 90%;
  background: #46647f;
  padding: 0 10px;
  border-radius: 3px;
}
