//Správy modul

.news {
  margin-bottom: 2rem;
}

.head_news {
  h5 {
    margin-top: 1rem;
  }
}
.head_news img {
  width: 100%;
  box-shadow: 7px 7px 5px #888888;
  overflow: hidden;


}

.full-post header {
  margin-bottom: 2rem;
}

.news-list  .media {
  img {
    width: 5rem;
  }

  a span {
    color: #741212;

  }
}